<a href="https://colab.research.google.com/github/Dhanu1402/pythonWithML/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#System Specifications

In [2]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2200.222
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4400.44
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2200.222
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4400.44
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [3]:
!cat /proc/meminfo

MemTotal:       13297192 kB
MemFree:         7993492 kB
MemAvailable:   12322252 kB
Buffers:          322376 kB
Cached:          4160592 kB
SwapCached:            0 kB
Active:           589004 kB
Inactive:        4463632 kB
Active(anon):       1208 kB
Inactive(anon):   554320 kB
Active(file):     587796 kB
Inactive(file):  3909312 kB
Unevictable:           0 kB
Mlocked:               0 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               340 kB
Writeback:             0 kB
AnonPages:        568992 kB
Mapped:           260824 kB
Shmem:              1556 kB
KReclaimable:     146204 kB
Slab:             177276 kB
SReclaimable:     146204 kB
SUnreclaim:        31072 kB
KernelStack:        4224 kB
PageTables:         9576 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6648596 kB
Committed_AS:    2558832 kB
VmallocTotal:   34359738367 kB
VmallocUsed:        9108 kB
VmallocChunk:          0 kB
Percpu:             1336 kB
HardwareCorrupted:     0 kB
AnonHugePages:     22528 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       84792 kB
DirectMap2M:     4106240 kB
DirectMap1G:    11534336 kB

#Installing Libraries

In [4]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [5]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [6]:
import pandas as pd

#Print functions

In [8]:
print('Machine Learning')

Machine Learning

In [10]:
!ls

sample_data

In [12]:
print("Machine Learning" + " " + "Projects")

Machine Learning Projects

In [13]:
print(8)

8

In [14]:
print(8+3)

11

#Data types
Types of objects in python :-
1. Immutable Objects
2. Mutable objects

Immutable objects :- 
1. int 
2. float
3. strings -> str 
4. complex 
5. boolean

Mutable objects :- 
1. list 
2. set
3. dictionary

In [15]:
type(8)

int

In [16]:
type(5.3)

float

In [1]:
type("english")

str

In [2]:
#intergers
a = 8 
print(a)

8

In [4]:
#complex numbers
c = 1 + 3j
print(c)
type(c)

(1+3j)

complex

Conversion of one data type to another

In [5]:
#int to float
x = 10
print(x)
type(x)

10

int

In [6]:
y = float(x)
print(y)
type(y)

10.0

float

In [8]:
#float to int 
x = 5.88
y = int(x)
print(y)
type(y)

5

int

Boolen
1. True
2.False

In [9]:
a = True #T & F should be in uppercase

In [10]:
print(a)
type(a)

True

bool

In [11]:
b = False
print(b)
type(b)

False

bool

In [14]:
a = 7 < 3
print(a)
type(a)

False

bool

In [15]:
a = 7 > 3
print(a)
type(a)

True

bool

In [18]:
print("Hello " * 5)

Hello Hello Hello Hello Hello

Slicing

In [19]:
my_string = "Programming"

In [21]:
print(my_string[1:5]) #values from index 1 to 5-1 will be sliced

rogr

In [25]:
#using step
print(my_string[0:10:2]) #every 2nd letter will be skipped

Pormi

List -> should be enclosed in [] brackets

In [27]:
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [28]:
#list can have multiple data types
my_list = [2, 3, 1.8, 'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

In [29]:
#list are mutable --> Changeable
my_list = [2, 3, 1.8, 'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [30]:
#print elements of list using elements
print(my_list[0])
print(my_list[2])

2
1.8

In [31]:
#list allows duplicate values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [32]:
print(len(list_1))

8

In [33]:
#initiating an empty list
list_2 = []
print(list_2)

[]

In [34]:
list_2.append(5)
print(list_2)

[5]

In [36]:
#delete an item in list
list_2 = [2, 3, 1.8, 'English', True, 6]
print(list_2)
del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [38]:
#join two list
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]
list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple

In [40]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [41]:
#tuple allows multiple data types

In [42]:
tuple_2 = (2, 3, 1.8, 'English', True, 6)
print(tuple_2)

(2, 3, 1.8, 'English', True, 6)

In [43]:
#conveting list to a tuple
my_list = [3,4,5,6]
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [44]:
print(my_tuple[0])
print(my_tuple[2])

3
5

Tuples are immutable --> Unchangeable

In [45]:
print(len(my_tuple))

4

Set

In [46]:
#set --> Curly brackets

In [47]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [48]:
#set does not support indexing

In [50]:
#convert a list to set
list_5 = [4,5,6,7,8]
x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [52]:
#set does not allow duplicate values
set_3 = {1,2,3,4,5,1,2,4}
print(set_3)

{1, 2, 3, 4, 5}


Dictionary
contains key-value pair

In [53]:
my_dictionary = {'name':'Dhanu', 'age':21, 'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'Dhanu', 'age': 21, 'country': 'India'}

dict

In [54]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

Dhanu
21
India

In [58]:
#dictionary does not allow duplicate values

#Constants & variables

In [18]:
superHero = "Iron Man"
print(superHero)

Iron Man

In [19]:
marvel_super_hero = "Captain America"
print(marvel_super_hero)

Captain America

In [20]:
hero1, hero2, hero3 = "Iron Man", "Captain America", "Bat Man"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Bat Man

In [21]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

#Input function

In [24]:
num1 = int(input("Enter the 1st number : "))
num2 = int(input("Enter the 2nd number : "))
sum = num1 + num2
print(sum)

Enter the 1st number : 20
Enter the 2nd number : 30
50

In [27]:
#changing the data type
num = 5
print(float(num))

5.0